:root {
--cor-primaria-1-: #5b8a96b1;
--cor-primaria-2-: #ffffff;
--cor-primaria-3-: #a8a8a8;
--cor-primaria-4-: #000000;
--cor-primaria-5-: #6fa895;

--cor-neutra-1-: #fff;
--cor-neutra-2-: #1d1d1d;
}
header {
    width: 100%;
    padding: 20px 8%;
}

.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
   font-size: 1.5rem;
   font-weight: 600;
   color: var(--cor-primaria-6);
}

.nav_lista {
    display: flex;
    list-style: none;
    gap: 80px;
    text-transform: uppercase;
}

.nav-item  {
font-size: 1.2rem;
font-weight: 600;
}

.nav-item:hover {
   background-color: var(--cor-primaria-4-);
color: var(--cor-neutra-1-);
cursor: pointer;
border-radius: 10px;
}

.nav-item.ativo a {

}

.nav_celular {
    display: none;
}

.btn-celular {
    display: none;
}

.nav_celular .ativo {
display: block;
}
