@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
    --cor-primaria-1-: #14ec0c;
    --cor-primaria-2-: #D3D3D3;
    --cor-primaria-3-: #161A1D;
    --cor-primaria-4-: #FFFFFF;
    --cor-primaria-5-: #2e9110;

    --cor-neutra-1-: #fff;
    --cor-neutra-2-: #1d1d1d;
}

body {
    background-color: var(--cor-primaria-1-);
    color: var(--cor-neutra-2-);
}